<div id="main-container" class="container">
    <div id="comments" class="panel panel-default">
        <div id="comment-form-container" class="panel-heading">
            <form ng-submit="cmntCtrl.addComment()" role="form">
                <div class="form-group">
                    <input type="email" ng-model="cmntCtrl.newComment.email" required placeholder="Email" class="form-control" />
                </div>

                <div class="form-group">
                    <textarea ng-model="cmntCtrl.newComment.message" required placeholder="Message" class="form-control" ></textarea>
                </div>

                <div class="form-group">
                    <input type="submit" value="SUBMIT" class="btn btn-info pull-right"/>
                </div>
                
                 <div class="clearfix"></div>
            </form>
        </div>

        <div id="comments-list-container" class="panel-body">
            <input id="filter-tb" ng-model="cmntCtrl.query" class="form-control" placeholder="Filter"/>
            <ul class="list-unstyled">
                <li class="comment row" ng-repeat="comment in cmntCtrl.comments | filter: cmntCtrl.query">
                    <div> 
                        <img class="avatar-img" ng-src="{{ cmntCtrl.getGravatarUrl(comment) }}" />
                    </div>

                    <div>
                        <div><strong>{{ comment.email }}</strong></div>
                        <div>{{ comment.message }}</div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>